# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore db connection properties file
app/src/main/resources/db.properties
app/src/main/resources/sql.properties

